<div class="container">
  <div class="row">
    <div class="col-md-12 jumbotron">
      <div class="row">
        <div class="col-md-7">
          <h1>Envoyer votre<br />message privé</h1>
          <p>
            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
          </p>
        </div>
        <div class="col-md-5" style="margin-top: 25px;">
          <%= render 'form'%>
        </div>
      </div>
    </div>
  </div>
</div>


