<div class="container-fluid" style="padding-bottom: 75px;">
  
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center"><i class="fa fa-list-ul"></i>Les Todo Listes<br>
        <small>Quand on a pas de tête... On a des listes !!!</small></h1>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h3>Nota</h3>
      <p>Pour le moment la TODO LISTE n'est rattachée à aucun utilisateur, d'autres fonctionnalités seront développées incessament
        sous peu !!! Toutefois l'AJAX est activé et tout le CRUD peut se faire sans aucun rechargement de page</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h2>Mes listes
        <span class="badge"><%= @todo_lists.count %></span>
        <!-- Bouton ouvrant la modale -->
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#mynewtodolist">
        Créer une liste
        </button>
      </h2>
    </div>
  </div>
  
  <!-- Liste des todolists -->
  <div class="row" id="container_todolists">
    <%= render @todo_lists %>
  </div>

  <!-- Modale incluant le formulaire -->
  <div class="row">
    <%= render 'form' %>
  </div>

  






