<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      © <%= Time.now.strftime("%Y") %> - Réalisation Merlin Eric
    </p>
    <a href="#" class="navbar-btn btn-danger btn pull-right">
    <span class="glyphicon glyphicon-star"></span>  Contacter le webmaster</a>
  </div>
</div>