<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      © <%= Time.now.strftime("%Y") %> - Réalisation Merlin Eric
    </p>
    <a href="https://github.com/riquet28/feedback/issues/new?title=Bug%20detected%20<%= request.fullpath %>&body=Description%20du%20bug%20rencontré&labels=bug" class="navbar-btn btn-danger btn pull-right" target="_blank" title="Rapporter un bug"><i class="fa fa-bug"></i>
      Bug !!!
    </a>
    <a href="mailto:eric.merlin3@gmail.com" class="navbar-btn btn-danger btn pull-right" title="Me contacter">
    <i class="fa fa-envelope"></i>Me Contacter</a>
  </div>
</div>