<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><h2 class="titre-nav">Wilder <span>Projet</span></h2></a>
    </div>

    <ul class="nav navbar-nav navbar-right">

			<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), layout: :inline) do |f| %>
	  	<%= f.email_field :email, hide_label: true, placeholder: "Email" %>
	  	<%= f.password_field :password, hide_label: true, placeholder: "Mot de passe" %>
		  <%= f.primary "Connexion" %>
			<% end %>
		        
		</ul>
  </div>
</nav>