<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><h2 class="titre-nav">Wilder <span>Projet</span></h2></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><%= link_to "Deconnection", destroy_user_session_path, :method => :delete %></a></li>
            
    </ul>
  </div>
</nav>






