<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12 panneau-accueil vertical-center">
        <div class="row">
          <div class="col-md-7">
            <h1>Wild<span>Slack</span><br /><small>Restons connectés !!!</h1>
            <p>
              <i class="fa fa-quote-left"></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis. <i class="fa fa-quote-right"></i>
            </p>
            <div class="row">
              <div class="col-md-12">
                <%= render "devise/shared/links" %>    
              </div> 
            </div>
          </div>
          <div class="col-md-5">
            <%= render 'devise/registrations/new.html.erb' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





