<% @users.each do |user| %>
  <ul class="nav nav-pills nav-stacked">
    <li>
      <%=link_to edit_user_registration_path do %>
        <%= image_tag user.avatar.url(:thumb) %>
        <%= pseudo_mail(user) %> | <%= en_ligne(current_user) %>
      <% end %>
    </li>
  </ul>
<% end %>









