<div class="container-fluid">
  
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Créer un nouveau challenge</h1>
    </div>
  </div>

  <hr>

  <%= render 'form' %>

  <%= link_to 'Retour à la liste des challenges', challenges_path, class: "btn btn-primary" %>

</div>







