<hr>
<div class="row">
  <div class="col-md-12">
    <h4><i class="fa fa-info"></i>INFORMATIONS</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5><i class="fa fa-envelope"></i>Messages<span class="badge pull-right">??</span></h5>
    <%= link_to "Envoyer un message privé", new_message_path, class: "pull-right" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5><i class="fa fa-gamepad"></i>Jeux<span class="badge pull-right">??</span></h5>
    <P>Classement :</P>
    <P>Nb de points :</P>
    <%= link_to "Envoyer un message privé", new_message_path, class: "pull-right" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5><i class="fa fa-gamepad"></i>Todo Liste<span class="badge pull-right">??</span></h5>
</div>