<div class="row">
  <div class="col-md-12">
    <h3><i class="fa fa-users"></i>Membres
      <span class="badge pull-right"><%= @users.all.count %></span>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12 scrollable" style="height:300px;">
    <ul class="nav nav-pills nav-stacked">
      <%= render 'user/liste_membres.html.erb' %>
    </ul>
  </div>
</div>