<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
        <i class="fa fa-list-ul"></i>Todo Liste<span class="badge">  ??</span>
      </a>
    </h4>
  </div>
  <div id="collapseFour" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <p>Nb. de tâche(s) : ??</p>
        </div>
      </div>
      <%= link_to "Voir la liste", new_message_path, class: "btn btn-primary center-block" %>
    </div>
  </div>
</div>