<hr>
<div class="row">
  <div class="col-md-12">
    <h3><i class="fa fa-envelope"></i>Vos messages<span class="badge pull-right">12</span></h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to 'Gérer mes messages privés', conversations_path, class: "btn btn-primary center-block" %>
    <%= link_to "Envoyer un message privé", new_message_path, class: "btn btn-primary center-block" %>
  </div>
</div>