<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
        <i class="fa fa-gamepad"></i>Challenger (jeu)
      </a>
    </h4>
  </div>
  <div id="collapseThree" class="panel-collapse collapse">
    <div class="panel-body">
      <P>Classement : (A venir)</P>
      <P>Nb de points : <%= current_user.points %> pts</P>
      <P>Challenges réussis :<%= current_user.participations.count %></P>
      <%= link_to "Jouer !", challenges_path, class: "btn btn-primary center-block" %>
      <%= link_to "Compte Challenger", user_path(current_user), class: "btn btn-primary center-block" %>
    </div>
  </div>
</div>



