<hr>
<div class="row">
  <div class="col-md-12">
    <h3><i class="fa fa-envelope"></i>Follows<span class="badge pull-right">??</span></h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to "Voir", '#', class: "btn btn-primary center-block" %>
  </div>
</div>