<div class="row">
  <div class="col-md-12">
    <h3>Derniers Posts<span class="badge pull-right">3</span></h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-unstyled">
      <% @lastpost.each do |post| %>
        <li><%= post.content %></li>
      <% end %>
    </ul>
  </div>
</div>