<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa fa-envelope"></i>Messages<span class="badge pull-right">??</span></a>
    </h4>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-10">
          <p>Mess. reçu(s) :</p>
          <p>Mess. envoyé(s) :</p>
          <p>Corbeille :</p>
        </div>
        <div class="col-md-2">
          <p>??</p>
          <p>??</p>
          <p>??</p>
        </div>
      </div>
      <%= link_to "Envoyer un MP", new_message_path, class: "btn btn-primary center-block" %>
    </div>
  </div>
</div>

