<div class="col-md-10">
  <%= bootstrap_form_for(@newpost) do |f| %>
    <%= f.text_field :content, hide_label: true, placeholder: "Votre texte" %>
    <%= f.hidden_field :user_id, value: current_user.id %>
</div>
<div class="col-md-2">
  <div class="pull-right">
    <%= f.primary "Go Post !!!", {:method => :post } %>
    <% end %>
  </div>
</div>

