<div class="container-fluid">
  <div class="row" style="margin-top: 10px;">

    <div class="col-md-9">
      
      <div class="row">

      <div class="col-md-12 scrollable" style="height: 445px;">
        <ul class="list-unstyled" id="posts">
          <%= render @posts.reverse %>
        </ul>
      </div>

      </div>
      
      <div class="row form-post" style="margin-top:15px;">
        <%= render 'form' %>
      </div>



    </div>

    <div class="col-md-3">

      <%= render 'cartouche_membres' %>
      <%= render 'cartouche_infos' %>

    </div>

  </div>
</div>



