<h1>Offres#show</h1>
<p>Find me in app/views/offres/show.html.erb</p>

<%= link_to "Revenir à la liste", offres_index_path, class: "btn btn-primary" %>
<%= link_to "Supprimer l'offre", "#", class: "btn btn-primary" %>
