/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-modal";
@import 'chosen';
@import "font-awesome-sprockets";
@import "font-awesome";


/*importer un fichier avce mixin*/
/*importer fichier qui s'appuie sur mixin*/


.titre-nav {
	margin-top: 0;
}
.container-fluid#background-connexion {
    background-image: url("background_connexion.jpg");
    background-size: cover;
    min-height: 100%;
    padding: 0;
}
.panneau-accueil {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 6px;
	box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.7);
	margin-top: 100px;
	color: white;
}

.panel {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5)
}

.form-inscrip-rapid {
	margin-top: 20px;
	border-left: solid white 1px;
}

html {
    height: 100%;
}
body {
    margin-top: 50px;
	height: 100%;
    background-color: #f1f1f1;
}
.navbar {
	border-radius: 0;
    margin-bottom: 0;
}

/**** MESSAGE FLASH DEVISE ****/
/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }



/***** Les offres *****/

.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}


/****** Fil des Posts ******/
/***************************/

.content-post {
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
}
    .content-details {
        padding-left: 0;
    }
    .content-details p {
        margin-bottom: 0;
    }
    .timestamp {
        color: #9e9ea6;
        font-size: 0.9em;
    }
    .humeur {
        color: #9e9ea6;
        font-size: 0.9em;
        font-style: italic;
    }
    .content-message {
        padding-left: 0;
        word-wrap: break-word;
    }
    .content-message p {
        padding: 0;
        margin-bottom: 0;
    }

.content-post:hover {
    background-color: #f1f1f1;
}
