/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-modal";
@import 'chosen';
@import "font-awesome-sprockets";
@import "font-awesome";


/********** A faire *****************/

/*Importer un fichier reset */
/*importer un fichier avce mixin*/
/*importer fichier qui s'appuie sur mixin*/
/*Faire une table des matières*/



/************************************************
************** Table des matières ***************
************************************************/





html {
  height: 100%;
}

body {
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}

/* Background du body différent à la connexion*/
body#connexion {
  height: 100%;
  background-image: url("background_connexion.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 50px;
}
.container-fluid#content {
  padding: 0;
}

h2 {
  padding-bottom: 20px;
}


/***************** Navigation ******************/
/***********************************************/

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background-color: #000;

  h3 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    line-height: inherit;

    span {
      color: #337AB7;
    }

  }

  .input-connexion {
    margin-top: 7px;
  }

}

.titre-nav {
	margin-top: 0;
}



/****************** $FOOTER ********************/
/***********************************************/

footer {
  background-color: #000;
}


/************* Page de connexion ***************/
/***********************************************/

.panneau-accueil {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 6px;
	box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.7);
	color: white;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  max-width: 950px;

  h1 {
    font-size: 3.8em;
    line-height: 0.9;
    margin-top: 40px;
    margin-left: 30px;

    span {
      color: #337AB7;
    }

    small {
      color: #fff;
      font-style: italic;
    }

  }

  h2 {
    padding-bottom: 0;
  }

  p {
      font-size: 1.7em;
      margin-left: 30px;
      margin-top: 25px
  }

  a {
    margin-right: 20px;
  }

  label.required:after {
  content:" *";
  }

}

.form-inscrip-rapid {
  margin-top: 20px;
  border-left: solid white 1px;
}

.panel {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}



/**** MESSAGE FLASH DEVISE ****/
/*flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
 }

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
 }

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
 }

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
 }

/******************* Icones ********************/
/***********************************************/

.fa {
  margin-right: 10px;
}

/*************** Section-Gauche ****************/
/***********************************************/

.section-gauche {
    color: white;
}



/*************** Section-Droite ****************/
/***********************************************/

.section-droite {

  h3, h4 {
    margin-top: 0px;
  }

  hr {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .jumbotron {
    background-color: #fff;
    padding-top: 20px;
  }

  .form-post {
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 6px;
  }

  .scrollable {
    overflow: scroll;
    height: 530px;
  }

  .pseudo {
    color: #337AB7;
  }

  .separation-titre {
    margin-top: 5px;
  }

  .members-list li {
    padding-top: 3px;
    padding-bottom: 3px;

    .avatar-visite {
      width: 50px;
      height:50px;
      border-radius: 100%;
    }

    img {
      margin-right: 10px;
      max-width: 25px;
      max-height: 25px;
      border-radius: 100%;
    }

    i {
      margin-top: 8px;
    }

    a {
      color: black;
      text-decoration: none;
    }

    a:hover {
      color: #333;
    }

    a:focus {
      text-decoration: none;
      outline: none;
    }

    a:active {
      outline: none;
    }

  }

  .members-list li:hover {
    border-radius: 6px;
    background-color: #f1f1f1;
  }

  .circle-offline {
    color: red;
    vertical-align: middle;
  }

  .circle-online {
    color: red;
  }

}


/***** Les offres *****/

.filterable {
  margin-top: 15px;
}
.filterable .panel-heading .pull-right {
  margin-top: -20px;
}
.filterable .filters input[disabled] {
  background-color: transparent;
  border: none;
  cursor: auto;
  box-shadow: none;
  padding: 0;
  height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
  color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
  color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
  color: #333;
}


/****** Fil des Posts ******/
/***************************/

.content-post {
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 6px;
}

.content-details {
  padding-left: 0;
}

.content-details p {
  margin-bottom: 0;
}

.timestamp {
  color: #9e9ea6;
  font-size: 0.9em;
}
.humeur {
  color: #9e9ea6;
  font-size: 0.9em;
  font-style: italic;
}
.content-message {
  padding-left: 0;
  word-wrap: break-word;
}
.content-message p {
  padding: 0;
  margin-bottom: 0;
}

.content-post:hover {
  background-color: #f1f1f1;
}
