/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.titre-nav {
	margin-top: 0;
}
.panneau-accueil {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 6px;
	box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.7);
	margin-top: 70px;
	color: white;
}
.form-inscrip-rapid {
	margin-top: 20px;
	border-left: solid white 1px;
}
body {
	background-image: url("background_connexion.jpg");
	background-size: cover;
	background-attachment: fixed;
}
.navbar {
	border-radius: 0;
}

/**** MESSAGE FLASH DEVISE ****/
/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }


