<h1>Promotions#show</h1>
<p>Find me in app/views/promotions/show.html.erb</p>

<%= link_to "Retour à la liste", promotions_index_path, class: "btn btn-primary" %>
<%= link_to "Accueil", root_path, class: "btn btn-primary" %>
